<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TextUtil</title>
</head>
<body>
    <h1>Welcome to text Util App</h1>
    <form action='/analyse' method='get'>
        <textarea name="text" style="width: 672px; height: 243px;"></textarea><br>
        <input type="checkbox" name="removePunc">Punc Remover <br>
        <input type="checkbox" name="space">space Remover <br>
        <input type="checkbox" name="upper">UpperCase Converter <br>
        <button >Analyse Text</button>
    </form>
</body>
</html>